form {
	width: 700px;
	color:white;
	text-align:center; 
	margin:50px auto ;
	font-family: Segoe Print;
	font-size:25;
	background-color:rgba(119, 42, 250,0.2);
	padding:20px; 
}

button{
	padding: 8px;
	background: #eebbc3;
	color: #2d334a;
	border-radius: 16px;
	font-family: Segoe Print;
	font-size: 12pt;
	font-weight: bold;
	border: 2px solid #2d334a;
	cursor: pointer;

}