* {
	text-decoration: none;
}

html {
	background: linear-gradient( rgba(9, 31, 51, 0.4), rgba(9, 31, 51, 0.0) ), url('image/22.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin:0;
	padding:0; 
}
 .title{
 	margin-top:4%;
 	margin-bottom:3%;
	text-transform: uppercase;
 	text-align: center;
 	color: #ffffff;
 	text-shadow: 0 0 5px #d7c7de, 0 0 10px #ba1bcefa, 0 0 20px #ffffff, 0 0 400px #ec65fd, 0 0 160px #ec65fd, 0 0 90px #ec65fd, 0 0 100px #ec65fd, 0 0 15px #ec65fd;
 	font-family:ChinaCyr;
 	font-size:72;
	letter-spacing: 0.2em;
 }

.image{
	height: 100%;
	width: 95%;
}
.text {
	color:white;
	margin-left:16%;
	margin-right:16%;
	margin-top:0%;
	margin-bottom:3%;
	font-size:18;
	font-family:Century Gothic;
	background-color:rgba(12, 3, 28,0.5); 
    padding: 20px;
	line-height: 1.6;
}
.button_container{
	display: inline-flex;
	width: 60%;
	height: 130px;
	margin-left:20%;
	margin-right:15%;
}
.button_box{
	display: block;
	text-transform: uppercase;
 	text-align: center;
 	font-family:ChinaCyr;
 	font-size:32;
}
.image{
	margin-left:5%;
	border-radius: 10px;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}
a {
	color:white;
}
 
.image:hover{
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.5);
 -o-transform: scale(0.5);
 }

 .icon_text {
	color:white;
	font-size:30;
	font-family:ChinaCyr;
 }	
 @media screen and (min-width:240px) and (max-width:700px) {
* {
	text-decoration: none;
}

html {
	background: linear-gradient( rgba(9, 31, 51, 0.4), rgba(9, 31, 51, 0.0) ), url('image/22.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin:0;
	padding:0; 
}
 .title{
 	margin-top:4%;
 	margin-bottom:3%;
	text-transform: uppercase;
 	text-align: center;
 	color: #ffffff;
 	text-shadow: 0 0 5px #d7c7de, 0 0 10px #ba1bcefa, 0 0 20px #ffffff, 0 0 400px #ec65fd, 0 0 160px #ec65fd, 0 0 90px #ec65fd, 0 0 100px #ec65fd, 0 0 15px #ec65fd;
 	font-family:ChinaCyr;
 	font-size:56;
	letter-spacing: 0.2em;
 }

.image{
	height: 100%;
	width: 95%;
}
.text {
	color:white;
	margin-left:5%;
	margin-right:5%;
	margin-top:0%;
	margin-bottom:3%;
	font-size:12;
	font-family:Century Gothic;
	background-color:rgba(12, 3, 28,0.5); 
    padding: 20px;
	line-height: 1.6;
}
.button_container{
	display: inline-flex;
	width: 60%;
	height: 80px;
	margin-left:20%;
	margin-right:15%;
}
.button_box{
	display: block;
	text-transform: uppercase;
 	text-align: center;
 	font-family:ChinaCyr;
 	font-size:18;
}
.image{
	margin-left:5%;
	border-radius: 10px;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}
a {
	color:white;
}
 
.image:hover{
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.5);
 -o-transform: scale(0.5);
 }

 .icon_text {
	color:white;
	font-size:30;
	font-family:ChinaCyr;
 }	
 }