* {
	text-decoration: none;
}

html {
	background: linear-gradient( rgba(9, 31, 51, 0.4), rgba(9, 31, 51, 0.0) ), url('fon.jpg');
	background-repeat: repeat-y;
	background-size: 100%;
	background-attachment: local;
	margin:0;
	padding:0; 
}

#navbar, #navbar ul{ 
	margin: 0; 
	list-style-type: none; 
} 
#navbar { 
	height: 35px; 
	margin:0 0 0 0; 
	padding:1% 0 1% 0; 
	background-color:rgba(75, 0, 94,0.6); 
} 
#navbar li { 
	float: left; 
	position: relative; 
	height: 100%; 
	border-right: 1px solid #ffffff; 
} 
#navbar li a { 
	display: block; 
	width: 100px; 
	color: #fff; 
	text-decoration: none; 
	text-align: center; 
	font-size:20; 
	font-family:Century Gothic; 
} 
#navbar li:hover { background-color: #8A2BE2; }

 .title{
 	margin-top:7%;
 	margin-bottom:3%;
	text-transform: uppercase;
 	text-align: center;
 	color: #ffffff;
 	text-shadow: 0 0 5px #d7c7de, 0 0 10px #ba1bcefa, 0 0 20px #ffffff, 0 0 400px #ec65fd, 0 0 160px #ec65fd, 0 0 90px #ec65fd, 0 0 100px #ec65fd, 0 0 15px #ec65fd;
 	font-family:ChinaCyr;
 	font-size:72pt;
	letter-spacing: 0.2em;
 }



.image{
	height: 100%;
	width: 100%;
}
.text {
	color:white;
	margin-left:16%;
	margin-right:16%;
	margin-top:0%;
	margin-bottom:3%;
	font-size:18px;
	font-family:Century Gothic;
	background-color:rgba(12, 3, 28,0.5); 
    padding: 20px;
	line-height: 1.6;
}
.button_container{
	display: inline-flex;
	width: 60%;
	margin-left:20%;
	margin-right:15%;
	margin-bottom:8%;

}
.button_box{
	display: block;
	text-transform: uppercase;
 	text-align: center;
 	font-family:ChinaCyr;
 	font-size:28px;
}
.image{
	margin-left:5%;
	border-radius: 10px;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}
a {
	color:white;
}
 
.image:hover{
	 -webkit-transform: scale(1.3);
	 -moz-transform: scale(1.5);
	 -o-transform: scale(0.5);
 }


.block_text {
	color:white;
	margin-left:2%;
	margin-right:2%;
	margin-top:5%;
	bottom:20px;
	font-size:13px;
	font-family:Century Gothic;
	/*background-color:rgba(12, 3, 28,0.5); /* red green blue opacity */
	background-color: #270053;
    padding: 20px;
	line-height: 1.6;
}

.block_title{
	color:#ae038f;
	margin: 5% 2% 2% 2%; 
	text-align: center;	
	font-size:26pt;
	font-family:ChinaCyr;
	top: 20px;
	background-color: #0f001a;
    padding: 10px 10px 10px 30px;
    position: relative; /* оставить важно(!)*/
	line-height: 1.6;
	cursor: pointer;	
}

.block_text {
	color:white;
	margin-left:2%;
	margin-right:2%;
	margin-top:2%;	
	font-size:12pt;
	font-family:Century Gothic;
	background-color: #1c002d;
    padding: 10px;
	line-height: 1.6;
}
.block{
	background-color: #0f001a;
	margin: 1% 24% 1% 24%;
	position: relative;
	padding-bottom: 20px;
}

 @media screen and (min-width:240px) and (max-width:850px) {

	#navbar { 
		height: 25px; 
	} 
	#navbar li { 
		width: 23%;
	} 
	#navbar li a { 
		padding-left: 3px;
		font-size:13px; 
		font-family:Century Gothic; 
		text-align: left; 
	} 
	 .title{
	 	font-size:24px;
	 }
	.button_container{
		margin: 1% 20% 8% 20%;
	}
	.button_box{
	 	font-size:12px;
	}
	 .block{
		margin: 0 0 0 0;
	}
}
